.glass {
  width: 400px;
  height: auto;
  border-radius: 16px;
  background: #ffffff20;
  box-shadow: 0 10px 30px #ffffff50;
  backdrop-filter: blur(5px);
  border: 1px solid #ffffff50;
  transition: 0.4s ease all;
}

.glass:hover {
  transform: scale(1.2);
  background: #ffffff30;
  backdrop-filter: blur(10px);
  cursor: pointer;
}
